.Light {
  border-color:white;
  margin-bottom:100px;
}
.contact {
    color:white;
}
.contactBody {
    background-color:black;
    text-align:center;
}
textarea {
    object-position:center;
}
input {
  object-position: center;
    margin-top:150px;
    height:25px;
    width:150px;
}
.Navbar {
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#111;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}
.Navbar a {
  padding-left:32px;
  padding-right:32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  transition: 0.3s;
  display: block;
  float:left;
  text-align: center;
}
.Navbar img {
  height:80px;
  width:100px;
}
.Menu {
  height:50px;
  width:50px;
  top:0;
  display:flex;
  justify-content: flex-start;
}