body {
    text-align:center;
    background-color:black;
    background-image:none;
    cursor:url("cursor/Sword.cur"), auto;
}
img {
    cursor:url("cursor/Sword.cur"), auto;
}
.HomeImg {
    width:300px;
    height:200px;
    position:static;
    border:groove 10px;
}
.HomeImg:hover {
    transform:scale(2);
    transition:0.5s;
}
.Fire {
    border-color:darkred;
}
.Water {
    border-color:darkblue;
}
.Air {
    border-color:rgb(9, 128, 128);
}
.Nature {
    border-color:green;
}
.Dark {
    border-color:gray;
}
.Light {
    border-color:white;
    margin-bottom:100px;
}
.Projects {
    color:cyan;
}
.Experience {
    color:darkgreen;
}
.Contacts {
    color:black;
}
.QuickContacts {
    color:white;
}
h1 {
    color: gold;
}
.Muliticolor {
    background-image: linear-gradient(to left, red, indigo, blue, cyan, darkgreen, black, white);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
}
.AboutMe {
    background-image: linear-gradient(to left, #821209, red, #fa1807, #d1665e, #8f3832, #4a0d09, darkred);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
}
.Navbar {
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#111;
    overflow-x:hidden;
    padding-top:60px;
    transition:0.5s;
}
.Navbar a {
    padding-left:32px;
    padding-right:32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: 0.3s;
    display: block;
    float:left;
    text-align: center;
  }
  .Navbar img {
    height:80px;
    width:100px;
  }
  .Menu {
    height:50px;
    width:50px;
    top:0;
    display:flex;
    justify-content: flex-start;
  }