body {
    text-align:center;
    background-image: url(https://www.altruistahealth.com/images/default-source/icons/payer-pandemic-natural-disaster-modeling-altruista-health-2020.jpg?sfvrsn=b000b2fb_0);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    padding-right:300px;
    padding-left:300px;
}
.HomeImg {
    width:300px;
    height:200px;
    visibility: hiden;
}
.AboutMe {
    color:red;
}
.Hobbies {
    color:blue;
}
.Projects {
    color:cyan;
}
.Experience {
    color:darkgreen;
}
.Contacts {
    color:black;
}
.QuickContacts {
    color:white;
}
h1 {
    color: gold;
}
h2 {
    background-color:gold;
    border:solid 5px gold;
    border-radius:20px;
    display: table;
    margin:auto;
}