body {
    text-align:center;
    background-color:black;
    cursor:url("cursor/Sword.cur"), auto;
}
img {
    cursor:url("cursor/Sword.cur"), auto;
}
.HomeImg {
    width:300px;
    height:200px;
    position:static;
    border:groove 10px;
}
.Fire {
    border-color:darkred;
}
.Water {
    border-color:darkblue;
}
.Air {
    border-color:rgb(9, 128, 128);
}
.Nature {
    border-color:green;
}
.Dark {
    border-color:gray;
}
.Light {
    border-color:white;
}
.AboutMe {
    color:red;
}
.Hobbies {
    color:blue;
}
.Projects {
    color:cyan;
}
.Experience {
    color:darkgreen;
}
.Contacts {
    color:black;
}
.QuickContacts {
    color:white;
}
h1 {
    color: gold;
}
h2 {
    background-color:gold;
    border:solid 5px gold;
    border-radius:20px;
    display: table;
    margin:auto;
}